/* ****************************** */
/*        Color selectors         */
/* ****************************** */

:root {
  --gray: #7A7978;
  --cambridge-blue: #87CBAC;
  --aquamarine: #90FFDC;
  --non-photo-blue: #8DE4FF;
  --jordy-blue: #8AC4FF;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  
}

/* Add background picture for the paragraph and heading 5 */
section p, h5{
  border: 5px;
  background-image: url("./assets/Project_pictures/Banner-GeminiAI.jpg");
}
/* Add Banner for the navigation bar */
header {
  background-image: url("./assets/Project_pictures/Banner-GeminiAI.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

/*Add background picture to the whole website*/
html, body {
  background-image: url("./assets/Project_pictures/Bkgd_pic-GeminiAI.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  height: 100%;
  font-style: normal;
}
header{
  top:0px;
  left:0%;
  width: 100%;
  position: fixed;
}

h1{
  padding-top: 3%;
  font-size: 50px;
}
/*Format carousel item image*/
.carousel-item img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  padding-bottom: 10rem;
  align-items: center;
}
h5{
  display: fixed;
  text-align:center;
  color: white;
}
.carousel-item p {
  color: white;
  text-align:center;
}
.carousel-caption p, .carosel-caption h5{
  margin: 0.5rem 0;
  text-align: center;
  background-image: url("./assets/Project_pictures/Banner-GeminiAI.jpg");
}
.carosel-caption a {
  text-decoration: none;
  color: var(--cambridge-blue);
  margin: 0 10px;
}

.carousel-inner img{
  margin: auto;
}


/*Format footer*/

footer{
  text-align: center;
  padding: 15px;
  display:fixed;
}
footer p{
  border-color:var(--cambridge-blue);
  margin: 0; 
  line-height: 1.5px;
  color: white;
}
footer a{
  margin: 0 10px;
  padding: 5%;
}
footer h4{
  margin: 50px 0 0;
}

